<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>TwitterSimulator · Phoenix Framework</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
  </head>
  <body>
    <header>
      <!-- put form here -->
  <input id="username" type="text" placeholder="enter your username" class="form-control" style="display:inline"></input>
  <input id="sendtweet" type="text" placeholder="send tweet" class="form-control"></input>
  <input id="subscribe" type="text" placeholder="enter user to subscribe"  class="form-control"></input>
  <button id="search_user_tweets" type="button" class="btn btn-info">search tweets you are subscribed to</button>
  <input id="search_hashtag" type="text" placeholder="search hashtag"  class="form-control"></input>
  <button id="search_mentions" type="button"  class="btn btn-info">search your mentions</button>
  <button id="clear_screen" type="button"  class="btn btn-info">clear screen</button>
  <div id="messages"></div>


    </header>
    <main role="main" class="container">
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
      <%= render @view_module, @view_template, assigns %>
    </main>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
